@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Pretendard-Regular', serif;
    color: #000;
}

:root {
    --main-color: #3F78E7;
    --main-light-color: #85A8ED;
    --input-gray: #D2D2D2;
    --text-gray: #A7A7A7;
    --light-gray: #F5F5F5;
}


input {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    user-select: none; /* 배경 드래그 방지 */
}