.header-container {
    width: 100%;
    height: 10vh;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.05);
    position: fixed;
    display: flex;
    align-items: center;
}

.header-logo {
    display: inline-block;
    margin-left: 15.42vw;
}

.header-logo-img {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
    cursor: pointer;
}

.header-nav {
    display: inline-block;
    margin-left: 45.05vw;
}

.header-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav ul a li {
    padding-right: 3.02vw;
    font-size: 0.85vw;
    cursor: pointer;
    color: #ABABAB;
    font-weight: 200;
}


.header-nav ul li.active {
    color: var(--main-color);
    font-weight: 600;
}