{% load static %}

<div class="header-container">
    <a href="/funfun/list">
        <div class="header-logo">
            <img src="{% static 'funfun/images/logo.svg' %}" alt="Logo" class="header-logo-img">
        </div>
    </a>

    <div class="header-nav">
        <ul>
            <a href="/funfun/list">
                <li>홈</li>
            </a>
            <a href="/funfun/create">
                <li>등록하기</li>
            </a>
            <a href="/funfun/mypage">
                <li>마이페이지</li>
            </a>
        </ul>
    </div>
</div>

<script src="{% static 'funfun/js/header.js' %}"></script>
