{% extends 'base.html' %}

{% load static %}
{% block title %}Item List{% endblock %}
{% block content %}
    <div class="container">
        <div class="search-container">
            <input type="text" name="search" id="search-input" placeholder="Search" value="{{ request.GET.search }}">
            <i class="fa-solid fa-magnifying-glass" id="search-icon"></i>
        </div>
        <div class="category-container">
            <ul>
                <a href="/funfun/list">
                    <li class="selected-category" onclick="updateUrlParams()">전체보기</li>
                </a>
                <a href="?category=0">
                    <li data-category-id="0" onclick="selectCategory(this)">IT</li>
                </a>
                <a href="?category=1">
                    <li data-category-id="1" onclick="selectCategory(this)">건강
                    </li>
                </a>
                <a href="?category=2">
                    <li data-category-id="2" onclick="selectCategory(this)">음식</li>
                </a>
                <a href="?category=3">
                    <li data-category-id="3" onclick="selectCategory(this)">엔터테이먼트</li>
                </a>
                <a href="?category=4">
                    <li data-category-id="4" onclick="selectCategory(this)">사회</li>
                </a>
                <a href="?category=5">
                    <li data-category-id="5" onclick="selectCategory(this)">디자인 및 패션</li>
                </a>
                <a href="?category=6">
                    <li data-category-id="6" onclick="selectCategory(this)">농업</li>
                </a>
                <a href="?category=7">
                    <li data-category-id="7" onclick="selectCategory(this)">기타</li>
                </a>

            </ul>
        </div>
        <div class="items-container">
            {% for item in items %}
                    <div class="item" onclick="location.href='{% url 'funfun:item_detail' item.pk %}'" data-end-period="{{ item.end_period|date:'Y-m-dTH:i:s' }}" data-goal-money="{{ item.price }}" data-success-money="{{ item.current_price }}">
                        <div class="img-box">
                            <img src="{{ item.image.url }}" alt={{ item.name }}>
                        </div>
                        <div class="text-box">
                            <div class="left-box">
                                <span class="title">{{ item.name }}</span> <br>
                                <span class="money funding-money">{{ item.current_price }}</span><span class="funding-money">원 펀딩</span>
                                <div class="using-box">
                                    <span><i class="fa-regular fa-comment"></i> {{ item.comment_count }}</span> <span><i
                                        class="fa-regular fa-user"></i> {{ item.participant_num }}</span>
                                </div>
                            </div>
                            <div class="right-box">
                                <span class="percent">{{ item.funding_percent|floatformat:2 }}</span><span class="percent-text">%</span>
                                <div class="d-day-box">
                                    <span class="d-text">D-</span><span class="d-day"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
    <script>

    </script>
    <script src="{% static 'funfun/js/item_list.js' %}"></script>
{% endblock %}