{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Item Detail{% endblock %}
{% block content %}
    <div class="detail-container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="item-container">
            <div class="top-box">
                <div class="category">{{ item.get_type_display }}</div>
                <div class="company">{{ item.company }}</div>
                <div class="name">{{ item.name }}</div>
            </div>
            <div class="content-container">
                <div class="image-box">
                    <img src="{{ item.image.url }}" alt="Item Image" class="header-logo-img">
                </div>
                <div class="text-box">
                    <span class="success-money">{{ item.current_price }}</span><span
                        class="content-text"> 원 펀딩에 성공했어요</span>
                    <br>
                    <span class="gray-text">목표 금액 </span><span class="gray-text goal-money">{{ item.price }}</span><span
                        class="gray-text"> 원</span> <br>
                    <div class="margin-box"></div>
                    <div class="margin-box"></div>
                    <span class="blue-text current-percent">{{ item.current_price|div:item.price|mul:100|floatformat:2 }}</span><span
                        class="content-text"> % 목표를 달성했어요</span>
                    <br>
                    <div class="margin-box"></div>
                    <span class="blue-text">{{ item.participant_num }}</span><span
                        class="content-text"> 명의 투자자가 함께해요</span>
                    <br>
                    <div class="margin-box"></div>
                    <span class="d-day-container">
                        <span class="content-text" id="d-day-text">펀딩 종료까지 </span>
                        <span class="blue-text" id="d-day-prefix">D-</span>
                        <span class="blue-text d-day" id="d-day"></span>
                        <span class="blue-text d-day" id="d-day-suffix"></span>
                    </span>
                    <br>
                    <span class="gray-text">종료 일자 </span><span
                        class="gray-text last-date">{{ item.end_period|date:"Y. m. d." }}</span> <br>
                    <div class="margin-box"></div>
                    <div class="margin-box"></div>
                    <div class="margin-box"></div>
                    <button onclick="openFundingPopup()" id="participate-funding-btn">펀딩에 참여하기</button>
                </div>
            </div>
            <div class="content">{{ item.description }}</div>
        </div>
        <div class="comment-container">
            <div class="add-comment">
                <form method="post" action="{% url 'funfun:add_comment' item.pk %}">
                    {% csrf_token %}
                    <input type="text" name="content" class="comment-input" placeholder="제품에 대한 피드백을 남겨주세요!">
                    <button type="submit" class="comment-btn">댓글쓰기</button>
                </form>
            </div>
            <div class="comments">
                {% for comment in comments %}
                    <div class="comment-box">
                        <div class="name">{{ comment.user.username }}</div>
                        <div class="comment">
                            <span class="content">{{ comment.content }}</span>
                            <div class="btns">
                                {% if request.user == comment.user %}
                                    <i class="fa-regular fa-pen-to-square"
                                       onclick="openEditPopup({{ comment.pk }}, '{{ comment.content }}')"></i>
                                    <a href="{% url 'funfun:delete_comment' comment.pk %}"><i
                                            class="fa-regular fa-trash-can"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="edit-comment-popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closeEditPopup()">&times;</span>
            <form id="edit-comment-form" method="post" action="">
                {% csrf_token %}
                <textarea name="content" id="edit-comment-content" rows="4"></textarea>
                <button type="submit">수정하기</button>
            </form>
        </div>
    </div>
    <div id="funding-popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closeFundingPopup()">&times;</span>
            <div id="funding-error-message" class="error-message" style="display: none;">자금이 부족합니다.</div>
            <form id="funding-form" method="post" action="{% url 'funfun:add_funding' item.pk %}">
                {% csrf_token %}
                <input type="number" id="funding-amount" name="amount" required placeholder="투자할 금액을 적어주세요">
                <button type="submit">제출하기</button>
            </form>
        </div>
    </div>
    <script>
        let itemEndPeriod = "{{ item.end_period|date:'Y-m-dTH:i:s' }}";
        let userBalance = {{ request.user.profile.balance }};
    </script>
    <script src="{% static 'funfun/js/item_detail.js' %}"></script>
{% endblock %}
