{% extends 'base.html' %}

{% load static %}
{% block title %}Item List{% endblock %}
{% block content %}
    <div class="container">
        <div class="search-container">
            <input type="text" name="search" placeholder="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="category-container">
            <ul>
                <li onclick="selectCategory(this);">IT</li>
                <li onclick="selectCategory(this);">건강</li>
                <li onclick="selectCategory(this);">음식</li>
                <li onclick="selectCategory(this);">엔터테인먼트</li>
                <li onclick="selectCategory(this);">사회</li>
                <li onclick="selectCategory(this);">디자인 및 패션</li>
                <li onclick="selectCategory(this);">농업</li>
                <li onclick="selectCategory(this);">기타</li>
            </ul>
        </div>
        <div class="items-container">
            {% for item in items %}
                <div class="item">
                    <div class="img-box">
                        <img src="{% static 'funfun/images/logo.svg' %}" alt="Logo" class="header-logo-img">
                    </div>
                    <div class="text-box">
                        <div class="left-box">
                            <span class="title">{{ item.name }}</span> <br>
                            <span class="money funding-money">{{ item.price }}</span><span
                                class="funding-money">원 펀딩</span>
                            <div class="using-box">
                                <span><i class="fa-regular fa-comment"></i> 0</span> <span><i
                                    class="fa-regular fa-user"></i> {{ item.target_num }}</span>
                            </div>
                        </div>
                        <div class="right-box">
                            <span class="percent">50</span><span class="percent-text">%</span>
                            <div class="d-day-box">
                                <span class="d-text">D-</span><span class="d-day">3</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'funfun/js/item_list.js' %}"></script>
{% endblock %}
