{% extends 'auth_base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <img src="{% static 'funfun/images/logo.svg' %}" alt="Logo" class="header-logo-img">
        <form method="post" action="{% url 'funfun:login' %}">
            {% csrf_token %}
            <div>
                <label for="username">사용자ID</label>
                <input type="text" class="form-control" name="username" id="username"
                       value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div>
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" name="password" id="password"
                       value="{{ form.password.value|default_if_none:'' }}">
            </div>
{#            {% if form.non_field_errors %}#}
{#                <div>#}
{#                    {% for error in form.non_field_errors %}#}
{#                        <p style="color: red;">{{ error }}</p>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            {% endif %}#}
            <button type="submit">Login</button>
        </form>

        <p><a href="{% url 'funfun:signup' %}" id="join">계정이 없으신가요?</a></p>
    </div>
{% endblock %}
