{% extends 'auth_base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <img src="{% static 'funfun/images/logo.svg' %}" alt="Logo" class="header-logo-img">
        <form method="post" action="{% url 'funfun:signup' %}">
            {% csrf_token %}
            <div class="input-container">
                <label for="username">아이디</label> <br>
                <input type="text" class="form-control" name="username" id="username"
                       value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="input-container">
                <label for="password1">비밀번호</label> <br>
                <input type="password" class="form-control" name="password1" id="password1"
                       value="{{ form.password1.value|default_if_none:'' }}">
            </div>
            <div class="input-container">
                <label for="password2">비밀번호 확인</label> <br>
                <input type="password" class="form-control" name="password2" id="password2"
                       value="{{ form.password2.value|default_if_none:'' }}">
            </div>
            <div class="input-container">
                <label for="email">이메일</label> <br>
                <input type="text" class="form-control" name="email" id="email"
                       value="{{ form.email.value|default_if_none:'' }}">
            </div>
            {% if form.non_field_errors %}
                <div>
                    {% for error in form.non_field_errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <button type="submit">회원가입</button>
        </form>
        <p><a href="{% url 'funfun:login' %}" id="login">계정이 있으신가요?</a></p>
    </div>
{% endblock %}
